{% extends "index.html" %}
{% load template_utils %}

{% block page_title %}
    Change password
{% endblock %}

{% block content_intro %}
    <h3 class="uk-margin-remove-top uk-margin-remove-bottom">
        <span uk-icon="icon: cog;"></span>
        {% trans "Change password" %}
    </h3>
{% endblock %}

{% block content %}
    <div class="uk-card uk-card-default uk-card-body uk-width-xlarge uk-align-center">
        <h3>
            {% trans "Change password" %}
        </h3>
        {% for field, errors in form.errors.items %}
            {% for error in errors %}
                <div class="uk-alert-danger" uk-alert>
                    <a class="uk-alert-close" uk-close></a>
                    {{ error }}
                </div>
            {% endfor %}
        {% endfor %}

        <form method="post">
            {% csrf_token %}

            <div class="uk-child-width-1-1 uk-grid-small" uk-grid>
                {{ form|as_div }}
                <div>
                    <button class="uk-button uk-button-primary" type="submit">{% trans "Change password" %}</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
